$activeblue: #3367D6;
$nonactivegray: #949494;
$flatactiveblue: rgba(51, 103, 214, 0.2);

.row-flex{
    display: flex;
    flex-direction: row;
}
.justify-between{
    justify-content: space-between;
}
.card-title{
    color: rgba(0,0,0,0.6);
    font-size: 0.9rem;
    font-weight: 600;
}
.node-input{
    border: 1px solid rgb(48, 48, 48);
    padding: 5px;
    border-radius: 3px;
    width: 100%;
    max-width: 250px;
}
.column-flex{
    display: flex;
    flex-direction: column;
}
.active-blue-color{
    color: #3367D6;
}
.header-img-btn{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
    /*background-color: rgba(0, 0, 0, 0.1);*/
    background-color: #1767c0;
}
.header-img-btn:hover{
    background-color: rgba(0, 0, 0, 0.26);
    transition: .4s ease-in-out;
}
.inputs-group{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &_row{
        flex-direction: row;
        justify-content: space-between;
     }

    input{
        height: 40px;
        font-size: 0.85rem;
        margin-bottom: 10px;
    }
}
.pointered{
    cursor: pointer
}
.scrollable-chip{
    background-color: #f3f6f8;
    width: fit-content;
    padding: 0 8px;
    border-radius: 35%;
}
.card-actions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.btn{
    margin: 10px;
    cursor: pointer;
    background-color: $activeblue;
    padding: 10px;
    border-radius: 4px;
    color: white;
}
.btn-small{
    font-size: 0.7rem;
}
.btn:hover{
    transition: .3s ease-in-out;
    opacity: .85;
}
.flat{
    background-color: transparent!important;
    color: $activeblue!important;
}
.flat:hover{
    background-color: $flatactiveblue!important;
    /*color: white!important;*/
    opacity: 1!important;
    transition: .4s ease-in-out;
}
input:focus{
    outline: none!important;
    box-shadow: none;
}
.light-text-input{
    border-bottom: 1px solid $nonactivegray;
}
.light-text-input:hover{
    transition: .6s ease-in-out;
    border-bottom: 2px solid $activeblue;
}
.popup-title{
    padding: 20px 0 10px 0;
    font-size: 1.5rem;
}
.vertical-divider{
    height: 100%;
    width: 1px;
    background-color: rgba(128, 128, 128, 0.4);
    content: "";
}
.full-width{
    width: 100%;
}
.center-block{
    margin: 0 auto;
}
