.row-flex{
    display: flex;
    flex-direction: row;
}
.card-title{
    color: rgba(0,0,0,0.6);
    font-size: 0.9rem;
    font-weight: 600;
}
.node-input{
    border: 1px solid rgb(48, 48, 48);
    padding: 5px;
    border-radius: 3px;
    width: 100%;
    max-width: 250px;
}
.column-flex{
    display: flex;
    flex-direction: column;
}
.active-blue-color{
    color: #3367D6;
}
